.big-square{
	height: 100vh;
	width: 100vh;
	background-color: gray;
	position: relative;
}

@keyframes ChangeColor{

	0%{background-color: red;}
	20%{background-color: orange;}
	40%{background-color:yellow;}
	60%{background-color:green;}
	80%{background-color:blue;}
	100%{background-color:indigo;}

}

.rounded{
	position:absolute;
	border-radius: 50%;
	height: 10vh;
	width: 10vh;
	background-color: black;
	animation-name: ChangeColor;
	animation-duration: 10s;
	animation-iteration-count: infinite;
}
.Middle-Square{
	position: absolute;
	height:5vh;
	width:5vh;
	left:50%;
	top:50%;
	background-color: red;
	margin-top: -2.5vh;
	margin-left: -2.5vh;
}
@keyframes CenterMove{


	100%{
		left:50vh;
		top:50vh;
		transform:translate(-50%,-50%);
		background-color: black;

	}


}
@keyframes k{
	100%{
		background-color: black;
	}
}

.Square-Center{
	animation-name: CenterMove;
	animation-duration: 3s;
	animation-iteration-count: 1;
	animation-fill-mode: forwards;
}
.J{
	animation-name: k;
	animation-duration: 5000ms;
	animation-iteration-count: 1;
	animation-fill-mode: forwards;
}